<h2>Comments</h2>

<div>
  <p>
    <b>Bobby Tables</b> 03/28/2018
    <br> It seems quite complicated, how much experiance do I need to start?</p>
</div>

<div>
  <p>
    <b>Ironhack School</b> 04/28/2018
    <br> We give you a pre-work, that you have to do at home, that will help you to face the course whithout any problem :)</p>
</div>
<section>
  <h3>
    <b>Add your comment</b>
  </h3>
  <form action="">
    <label for="Name"></label>
    <input placeholder="Enter your name" type="text" name="name">
    <br>
    <label for="Description"></label>
    <input placeholder="Enter your description" type="text" name="description">
    <br>
    <input type="submit">

  </form>
</section>